/* AHMS Enterprise Standard Questions Custom Styles */

.sapMList .sapMIBar {
	border: 1px solid lightgray;
}

.sapMList table {
	border: 1px solid lightgray;
}

.sapMListTblCell.cellBorderRight {
	border-right: 1px solid lightgray;
}

.sapMListTblCell.cellBorderLeft {
	border-left: 1px solid lightgray;
}

.equalColumns .sapMFlexBox {
	/*background-color: lightgray;*/
	padding: 5px;
}

.questionButtonColumn {
	padding: 0;
}