/* AHMS Equipment Analysis Custom Styles */

.sapMList .sapMIBar {
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom: 0px solid lightgray;
}

.sapMList table {
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom: 0px solid lightgray;
}

.sapMListTblCell.cellBorderRight {
	border-right: 1px solid lightgray;
}

.sapMListTblCell.cellBorderLeft {
	border-left: 1px solid lightgray;
}
